/* dit is kleur voor text */

.blauw-t{
    color: blue;
}
.rood-t{
    color: red;
}
.groen-t{
    color: green;
}
.geel-t{
    color: yellow;
}
.paars-t{
    color: purple;
}
.oranje-t{
    color: orange;
}
.zwart-t{
    color: black;
}
.wit-t{
    color: white;
}
.grijs-t{
    color: gray;
}
.lichtgrijs-t{
    color: lightgray;
}
.roze-t{
    color: hotpink;
}
.magenta-t{
    color:magenta ;
}
.lichtblauw-t{
    color: lightblue;
}
.donkerblauw-t{
    color: darkblue;
}
.lichtgroen-t{
    color: lightgreen;
}
.donkergroen-t{
    color:darkgreen;
}
.lichtbruin-t{
    color:#ae4112;
}
.bruin-t{
    color: brown;
}
.donkergrijs-t{
    color: darkgray;
}
.goud-t{
    color: gold;
}
.zilver-t{
    color: silver;
}
.koper-t{
    color:#B87333;
}
